# Exemplo de arquivo .env

# Configuração do banco de dados
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE

# Porta para inciar o servidor
PORT=3000

# Configuração de origens permitidas pelo CORS
WHITELIST1=http://localhost:5173

# Configuração de autenticação JWT
JWT_SECRET=your_secret_key_here

# Configuração do servidor SMPT
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=seu-email@dominio.com
SMTP_PASS=sua-chave-smtp
SMTP_USER_FROM=seu-email@seudominio.com