<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm Account</title>

  <style>
    .token {
      color: #5151A2;
      padding: 10px;
      border-radius: 4px;
      background-color: #b5b5b5;
      margin: 0 auto;
      width: fit-content;
    }
  </style>
</head>

<body>
  <h2>Confirmação de conta</h2>

  <p>Utilize o código de verificação abaixo para confirmar sua conta:</p>
  <h3 class="token">{{token}}</h3>
</body>
</html>